{% extends "layout.html" %} {% block title %}Admin Přihlášení{% endblock %} {%
block content %}
<h1>Admin Přihlášení</h1>
<form method="POST" action="{{ url_for('admin.login') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- CSRF token -->

  <label for="username">Uživatelské jméno:</label>
  <input type="text" name="username" id="username" required /><br /><br />

  <label for="password">Heslo:</label>
  <input type="password" name="password" id="password" required /><br /><br />

  <button type="submit">Přihlásit</button>
</form>
{% endblock %}
