{% extends "layout.html" %} {% block title %}Databáze uživatelů{% endblock %} {%
block content %}
<h2>👤 Databáze uživatelů</h2>
<table class="admin-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Uživatelské jméno</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
