{% extends "layout.html" %} {% block title %}Admin Login{% endblock %} {% block
content %}
<div class="admin-login">
  <h2>Admin Přihlášení</h2>

  <!-- Flash zprávy -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul>
    {% for category, message in messages %}
    <li class="alert-{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <form method="POST" action="{{ url_for('admin.login') }}">
    <label for="username">Uživatelské jméno:</label>
    <input type="text" name="username" id="username" required /><br /><br />

    <label for="password">Heslo:</label>
    <input type="password" name="password" id="password" required /><br /><br />

    <button type="submit">Přihlásit</button>
  </form>
</div>
{% endblock %}
