{% extends "layout.html" %} {% block title %}Košík{% endblock %} {% block
content %}
<h1>Váš košík</h1>

{% if cart_items %}
<table>
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Cena za kus</th>
      <th>Množství</th>
      <th>Celková cena</th>
      <th>Akce</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    <tr>
      <td>{{ item.product.name }}</td>
      <td>{{ item.product.price }} Kč</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.price * item.quantity }} Kč</td>
      <td>
        <!-- Odebírání pomocí formuláře s CSRF tokenem -->
        <form method="POST" action="{{ url_for('cart.remove_from_cart') }}">
          {{ csrf_token() }}
          <input
            type="hidden"
            name="product_id"
            value="{{ item.product.id }}"
          />
          <button type="submit">Odebrat</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Celkem: {{ total_price }} Kč</h2>

{% else %}
<p>Košík je prázdný.</p>
{% endif %}

<a href="{{ url_for('views.galerie') }}">Pokračovat v nakupování</a>

{% endblock %}
