{% extends 'layout.html' %} {% block title %}Domů{% endblock %} {% block content
%}
<div class="hero-section">
  <div class="hero-text">
    <h1 class="main-title">Umění, které promlouvá</h1>
    <p class="subtitle">Objevte jedinečné umělecké skvosty pro váš prostor</p>
  </div>
</div>

<div class="home-gallery-container">
  <div class="home-gallery-flex">
    <div class="gallery-item">
      <img
        src="{{ url_for('static', filename='images/IMG_1.jpeg') }}"
        alt="Umělecké dílo 1"
      />
    </div>
    <div class="gallery-item">
      <img
        src="{{ url_for('static', filename='images/IMG_2.jpeg') }}"
        alt="Umělecké dílo 2"
      />
    </div>
    <div class="gallery-item">
      <img
        src="{{ url_for('static', filename='images/IMG_3.jpeg') }}"
        alt="Umělecké dílo 3"
      />
    </div>
    <div class="gallery-item">
      <img
        src="{{ url_for('static', filename='images/IMG_4.jpeg') }}"
        alt="Umělecké dílo 4"
      />
    </div>
  </div>
</div>
{% endblock %}
