<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <title>ArtModerno | {% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    {% include "navbar.html" %}

    <main class="main-content">{% block content %}{% endblock %}</main>

    <footer class="footer">
      <div class="footer-content">
        <p class="footer-text">© 2025 Arte Moderno. Všechna práva vyhrazena.</p>
        <div class="social-links">
          <a href="#" class="social-link">
            <img
              src="{{ url_for('static', filename='logo/facebook.svg') }}"
              alt="Facebook"
            />
          </a>
          <a href="#" class="social-link">
            <img
              src="{{ url_for('static', filename='logo/skill-icons_instagram.svg') }}"
              alt="Instagram"
            />
          </a>
          <a href="#" class="social-link">
            <img
              src="{{ url_for('static', filename='logo/x.svg') }}"
              alt="Twitter/X"
            />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
