<nav class="navbar">
  <div class="navbar-logo">
    <a href="{{ url_for('views.home') }}">
      <img
        src="{{ url_for('static', filename='logo/Logo_4_svg.svg') }}"
        alt="ArtModerno Logo"
      />
    </a>
  </div>

  <div class="navbar-links">
    <a href="{{ url_for('views.home') }}" class="nav-link">Home</a>
    <a href="{{ url_for('views.galerie') }}" class="nav-link">Galerie</a>
    <a href="{{ url_for('views.kontakt') }}" class="nav-link">Kontakt</a>

    {% if current_user.is_authenticated and current_user.role == 'admin' %}
    <!-- Tento odkaz se zobrazí pouze adminovi -->
    <a href="{{ url_for('admin.dashboard') }}" class="nav-link">Admin Panel</a>
    {% endif %} {% if current_user.is_authenticated %}
    <a href="{{ url_for('views.logout') }}" class="nav-link">Odhlásit se</a>
    {% else %}
    <a href="{{ url_for('views.register') }}" class="nav-link">Registrace</a>
    <a href="{{ url_for('views.login') }}" class="nav-link">Přihlášení</a>
    {% endif %}
  </div>
</nav>
